body {
	margin: 0px;
	padding: 0px;
}
#title_bg {
	position: fixed;
	z-index: 1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 56px;
	box-shadow: 1px 2px 3px #000000;
	background-color: #222222;
}
#title_bg > span {
	color: white;
	font-size: 18px;
	position: relative;
	display: inline-block;
	height: 100%;
	line-height: 56px;
	margin-left: 20px;
}

#content_bg_first {
	position: relative;
	width: 100%;
	height: 391px;
	background: #222222;
}
#content_bg_first > img {
	position: relative;
	width: 80px;
	height: 80px;
	margin-left: 50%;
	left: -40px;
	top: 120px;
}
#content_bg_first > p:nth-child(2) {
	font-size: 22px;
	color: white;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 110px;
}
#content_bg_first > p:nth-child(3) {
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	text-align: center;
	position: relative;
	top: 105px;
}

#content_bg_first > div {
	position: absolute;
	text-align: center;
	font-size: 14px;
	color: white;
	background-color: #FF46A4FF;
	width: 180px;
	height: 32px;
	line-height: 32px;
	border-radius: 4px;
	left: 50%;
	margin-left: -90px;
	bottom: 30px;
	border: solid 2px rgba(255,255,255,0.5);
}
.content_text{
	position: relative;
	padding-top: 40px;
}
.content_text > img {
	position: relative;
	width: 80%;
	left: 10%;
	box-shadow: 1px 1px 30px #a9a9a9;
}
.content_text > h4 {
	position: relative;
	font-size: 22px;
	text-align: center;
	width: 100%;
}
.content_text > p {
	position: relative;
	font-size: 16px;
	color: rgb(100,100,100);
	text-align: left;
	width: 80%;
	left: 10%;
}
#content_l{
	position: relative;
	height: 1px;
	width: 100%;
	background-color: rgb(235,235,235);
}
#foot{
	position: relative;
	padding-top: 10px;
	margin-top: 80px;
	background-color: #222222
}
ul,li{
	margin:0; padding:0; list-style:none;
}

div > a{
    position: relative;
	left: 20px;
	font-size: 12px;
	width: 100%;
	color: white;
	top: 36px;
	text-align: center;
}

li > a{
    position: relative;
	left: 0px;
	font-size: 14px;
	width: 100%;
	color: white;
	margin-top: 8px;
	text-align: center;
}

#foot > ul > li {
	position: relative;
	left: 0px;
	font-size: 14px;
	width: 100%;
	color: white;
	margin-top: 8px;
	text-align: center;
}
#foot > ul > li:first-child{
	font-size: 22px;
	margin-bottom: 20px;
}

#foot > p {
	color: rgba(230,230,230,0.5);
	background-color: rgba(255,255,255,0.1);
	height: 90px;
	margin-top: 30px;
	line-height: 30px;
	font-size: 13px;
	position: relative;
	width: 100%;
	text-align: center;
}

#foot > p > a{
	font-size: 14px;
	width: 100%;
	color: white;
	text-align: center;
	text-decoration: none;
}
